// General configuration used in all profiles
manifest {
  description = 'TCGA Cancer Driver Genes Benchmark Workflow' 
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {

	  docker {
      process {
          withName: validation{
            container = "tcga_validation:1.0"
          }
      }
      
      docker.enabled = true
      // set time zone for running docker containers
      docker.runOptions = '-e TZ=Europe/Madrid'
    
  }
}

// default parameter values

params  {

  // submitted file
  input = "$baseDir/TCGA_sample_data/All_Together.txt"

  // reference file dir to validate input data
  public_ref_dir = "$baseDir/TCGA_sample_data/public_ref"

  // name of the tool used for the predicitions
  participant_id = "my gene predictor"


  // cancer types for which the benchmark has to be performed
  challenges_ids  = "ACC BRCA"


  //name or OEB permanent ID for the benchmarking community
  community_id = "TCGA"


  // directories where results will be written
  validation_result = "sample_out/participant_out/validated-participant-data.json"
  statsdir = "sample_out/stats"
  outdir = "sample_out/results"

}

// By default output execution reports
timeline {
  enabled = true
  file = "${params.statsdir}/timeline.html"
}
report {
  enabled = true
  file = "${params.statsdir}/report.html"
}
trace {
  enabled = true
  file = "${params.statsdir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.statsdir}/DAG.dot"
}
