// General configuration used in all profiles
manifest {
  description = 'TCGA Cancer Driver Genes Benchmark Workflow' 
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {

	  standard {
    process {
         withName: validation{
          container = "tcga_validation:latest"
         }
    }
    process {
         withName: compute_metrics{
          container = "tcga_metrics:latest"
         }
    }
    process {
         withName: manage_assessment_data{
          container = "tcga_assessment:latest"
         }
    }
    docker.enabled = true
  }
}

// default parameter values

params  {

  // submitted file
  predictionsFile = "$baseDir/TCGA_full_data/All_Together.txt"

  // reference file dir to validate input data
  public_ref_dir = "$baseDir/TCGA_full_data/public_ref"

  // name of the tool used for the predicitions
  participant_name = "my_gene_predictor"

  // directory where the 'gold standards' are found
  metrics_ref_dir = "$baseDir/TCGA_full_data/metrics_ref_datasets"

  // cancer types for which the benchmark has to be performed
  cancer_types  = "ACC BRCA"

  // directory where TCGA benchmarking data is found
  assess_dir = "$baseDir/TCGA_full_data/data"

  // directory where results will be written
  results_dir = "out"

}